body {
  background-color: rgb(34, 36, 37);
  color: white;
}
#particles-js {
  height: 100vh;
  background-color:  #282830;
}
.header {
  position: absolute;
  margin-top: 40vh;
  width: 100%;
  text-align: center;
}
#about, #skills {
  background-color: rgb(34, 36, 37);
}
#project, #contact {
  background-color: rgb(8, 11, 11);
}
hr {
  border: 1px inset white;
  width: 10vh;
}
.col-sm-4 {
  margin: 10px 0px;
}
.card {
  background-color: rgb(34, 36, 37);
  margin: 5px 0px;
}
.card-body {
  width: 90%;
  margin: 20px;
}
.card-body:hover {
  font-size: 20px;
}
.icon {
  margin-right: 20px;
  font-size: 3em;
  color: #ecf0f1;
}
